.aboutHome{
  background: var(--primary);
  background-image: linear-gradient(to top left, var(--primary), var(--primaryII));
  text-align: center;
  color: var(--invert-color);
  position: relative;
}

.aboutHome::before{
  content: "";
  background-image: url('../public/images/aboutBg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  z-index: 1;
}

.aboutHome p {
  line-height: 2;
  font-size: 1.2rem;
  z-index: 9;
}

@media only screen and (max-width: 600px) {
  .aboutHome p {
    line-height: 1.8 !important;
    font-size: 0.8rem !important;
    width: 100% !important;
  }

.container{
  width: 100% !important;
  z-index: 999;
}
}

.container{
  z-index: 999;
}