:root{
  --primary : #003A5E;
  --primaryII: #186EA3;
  --primary70 : rgba(0, 58, 94, 0.7);
  --primaryII70: rgb(24, 110, 163, 0.7);
  --danger: #E74B3B;
  --text-g : #333;
  --invert-color: #FFF;
  
}

@font-face {
  font-family: sura;
  src: url(/fonts/Sura-Regular.ttf);
}

@font-face {
  font-family: sura-bold;
  src: url(/fonts/Sura-Bold.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sura, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  font-family: sura !important;
}

* {
  box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link{
  color: var(--text-g);
  opacity: 1;
  font-size: 1.1rem;
  margin-inline-end: 1rem;
  border-bottom:transparent 3px solid;
  padding-bottom: 15px;
  margin-top: 20px;
}
.navbar-light .navbar-nav .nav-link.active{
  color: var(--danger);
  border-bottom: var(--danger) 3px solid;
}

.carousel-item{
  height: 500px;
}

.carousel-item img{
  margin-top: -220px;
}

.carousel.slide::after{
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -66px;
  left: 0;
  background: url("/images/bottomSlide.svg") no-repeat;
  background-size: cover;
}
.carousel-indicators{
  display: none;
}
.carousel-caption{
  bottom: 90px;
  text-shadow: #000 2px 2px;
}

.bg-gradient{
  background: var(--primary);
  background-image: linear-gradient(to top left, var(--primary), var(--primaryII));
  color: var(--invert-color);
  padding: 1rem 0
}

.btnInvertOutline{
  background-color: transparent;
  border: var(--invert-color) 1px solid;
  border-radius: 20px;
  color: var(--invert-color);
  padding: 0.25rem 1.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  z-index: 999;
  transition: all 0.5s;
}
.btnInvertOutline:hover{
  background-color: var(--invert-color);
  color: var(--primary);
  transition: all 0.5s;
}


.btnPrimaryOutline{
  background-color: transparent;
  border: var(--primary) 1px solid;
  border-radius: 20px;
  color: var(--primary);
  padding: 0.25rem 1.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  z-index: 999;
  transition: all 0.5s;
}
.btnPrimaryOutline:hover{
  background-color: var(--primary);
  color: var(--invert-color);
  transition: all 0.5s;
}


.btnPrimary{
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--invert-color);
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  z-index: 999;
  transition: all 0.5s;
}
.btnPrimary:hover{
  background-color: var(--primary);
  color: var(--invert-color);
  transition: all 0.5s;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right:hover,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left:hover
{
  background-color: transparent;
}

.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right::before,
.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left::before
{
  color: #333;
}

.red-Divider{
  border-bottom: solid 2px var(--danger);
  margin-top: 1rem;
}


.brand-img img{
  transition: all 0.5s;
}

.brand-img:hover img{
  transform: scale(1.2);
}