.innerHeader{
  height: 400px;
  overflow: hidden;
  position: relative;
}

.innerHeader img{
  vertical-align: middle;
}


.innerHeader::after{
  content:"";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #FFF;
  border-top: var(--danger) 20px solid;
}