.sideMenu{
  width: 300px;
  min-height: 85vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.5s;
}

.sideMenuCollapsed{
  width: 60px;
  min-height: 85vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.5s;
}

.toggleBtn, .toggleBtn:focus{
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: transparent 0 0 0 ;
}